@{
    ViewData["Title"] = "Home Page";
}

<div class="product-list">
	@foreach (Product product in ViewBag.Products)
	{
		var picture = product.ImageURLs.Split(',')[0];
		<div class="col">
			<div class="card e-co-product">
				<a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">
					<img src="@picture" alt="" class="img-fluid">
				</a>
				<div class="card-body product-info">
					<a href="" class="product-title">@product.Name</a>
					<div class="d-flex justify-content-between my-2">
						<p class="product-price">$@product.Price</p>

					</div>
					<a class="btn btn-cart btn-sm waves-effect waves-light" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@product.Id"><i class="mdi mdi-cart mr-1"></i> Details</a>
				</div>
			</div>
		</div>
	}
</div>