<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - ElectroStore</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="A premium admin dashboard template by Mannatthemes" name="description" />
	<meta content="Mannatthemes" name="author" />

	<!-- App favicon -->
	<link rel="shortcut icon" href="~/images/favicon.ico">

	<!-- App css -->
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/css/icons.css" rel="stylesheet" type="text/css" />
	<link href="~/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
	<link href="~/css/style.css" rel="stylesheet" type="text/css" />
	<link href="~/css/custom.css" rel="stylesheet" type="text/css" />
	@await RenderSectionAsync("Style", required: false)
</head>

<body>
	<div class="topbar">

		<!-- Navbar -->
		<nav class="topbar-main">
			<!-- LOGO -->
			<div class="topbar-left">
				<a asp-area="" asp-controller="Home" asp-action="" class="logo">
					<span>
						<img src="~/images/logo-sm.png" alt="logo-small" class="logo-sm">
					</span>
					<span>
						<img src="~/images/logo-dark.png" alt="logo-large" class="logo-lg">
					</span>
				</a>
			</div><!--topbar-left-->
			<!--end logo-->
			<partial name="_LoginPartial" />

			<ul class="list-unstyled topbar-nav mb-0">
				<li class="hide-phone app-search">
					<form role="search" class="">
						<input type="text" placeholder="Search..." class="form-control">
						<a href=""><i class="fas fa-search"></i></a>
					</form>
				</li>
			</ul><!--end topbar-nav-->
		</nav>
		<!-- end navbar-->
		<!-- MENU Start -->
		<div class="navbar-custom-menu">
			<div class="container-fluid">
				<div id="navigation">
					<!-- Navigation Menu-->
					<partial name="_MainMenu" />
				</div> <!-- end navigation -->
			</div> <!-- end container-fluid -->
		</div> <!-- end navbar-custom -->
	</div>
	<!-- Top Bar End -->

	<div class="page-wrapper">


		<!-- Page Content-->
		<div class="page-content">

			<div class="container-fluid">
				<!-- Page-Title -->
				<div class="row">
					<div class="col-sm-12">
						<div class="page-title-box">
							<div class="float-right">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
									<li class="breadcrumb-item active">Starter</li>
								</ol><!--end breadcrumb-->
							</div><!--end /div-->
							<h4 class="page-title">Starter</h4>
						</div><!--end page-title-box-->
					</div><!--end col-->
				</div><!--end row-->
				<!-- end page title end breadcrumb -->
				@RenderBody()

			</div><!-- container -->
		</div>
		<!-- end page content -->
		<footer class="footer text-center text-sm-left">
			<div class="boxed-footer">
				&copy; @DateTime.Now.Year.ToString() Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
			</div>
		</footer><!--end footer-->
	</div>
	<!-- end page-wrapper -->
	<!-- jQuery  -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/metisMenu.min.js"></script>
	<script src="~/js/waves.min.js"></script>
	<script src="~/js/jquery.slimscroll.min.js"></script>
	@await RenderSectionAsync("MainScripts", required: false)
	<!-- App js -->
	<script src="~/js/app.js"></script>
	<script src="~/js/site.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
