body {
    margin: 0;
    padding: 0;
}

#Wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


#Content {
    flex: 1;
}

.menu :hover {
    background-color: #a4ffff;
}

.text-danger{
    color:red;
}